<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicaciones guardadas</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/7/74/Location_icon_from_Noun_Project.png">
</head>
<body>
    <nav>
        <a href="index.html">Guardar direcciones</a>
        <a href="locations.html">Ver direcciones guardadas</a>
    </nav>
    <h1>Ubicaciones guardadas</h1>
    <div class="container">
        <div class="locations">
            <p>Aqui se mostraran las ubicaciones guardadas</p>
            <section id="saved-locations">
                

            </section>
        </div>
    </div>
</body>
</html>
<script type="module" src="../scripts/locations.js"></script>